.logo2 {
  width: 80%;
}
body {
  background-color: #ccc;
}
.margemcadastro {
  text-align: center;
  border: 3px solid black;
  padding: 30px;
  background: white;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 30px;
}
.pesquisarbt {
  border: 1px solid #25692a;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-family: Verdana;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 10px;
  text-decoration: none;
}
.nav-item {
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.p-navbar {
  color: white;
}
h1 {
  text-align: center;
}
#formcad{

}
.btndesc{
border-radius: 30px;
background-color: white;
color:black;
}
.navbar {
  background-color: black !important;
  border-bottom: 1px solid;
}
.navtable {
  background-color: black !important;
  color: white !important;
  border-left: 5px solid #ccc;
}
.cadnav {
  background-color: black;
  color: white;
  border-radius: 30px;
}
.sidebartable {
  background-color: black !important;
  color: white !important;
  padding-top: 60px;
  font-size: 20px;
}
#btnAdicionar {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
#tblCadastro {
  margin-left: 20px;
}
.btn {
  border: 1px solid black;
  border-radius: 30px;
  background-color: black;
  color: white;
}
.h1-border {
  color: white;
}
.borderlist {
  margin-top: 50px;
  width: 455px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  /* Full-width inputs */
  /* Set a style for all buttons */
  /* Add a hover effect for buttons */
  /* Extra style for the cancel button (red) */
  /* Center the avatar image inside this container */
  /* Avatar image */
  /* Add padding to containers */
  /* The "Forgot password" text */
  /* Change styles for span and cancel button on extra small screens */
}
.list-group {
  background-color: black;
}
.nav-item:hover {
  background-color: #ccc;
  opacity: 0.9;
}
h5 {
  color: white;
}
.borderlist .colorbkg {
  background-color: aqua;
}
#formcad {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px black solid;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
}
.borderlist .posicaomenu {
  margin-right: 6.5%;
}

.borderlist form {
  border: 3px solid #f1f1f1;
}

.borderlist input[type="email"],
.borderlist input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.borderlist button {
  background-color: black !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.borderlist button:hover {
  opacity: 0.8;
}

.borderlist .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.borderlist .cadastrarbtn {
  width: auto;
  padding: 10px 18px;
  background-color: blue;
}

.borderlist .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.borderlist img.avatar {
  width: 10%;
  border-radius: 50%;
}

.borderlist .container {
  padding: 16px;
}

.borderlist span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  .borderlist span.psw {
    display: block;
    float: none;
  }
  .borderlist .cancelbtn {
    width: 100%;
  }
  .borderlist .cadastrarbtn {
    width: 100%;
  }
}

.borderlist .buttonmodal {
  height: 25;
  width: 25;
}
/*# sourceMappingURL=main.css.map */
